{% extends 'base.html.twig' %}
{% block title %}Validation
{% endblock %}
{% block body %}
<h1>Proceder à la validation de la commande</h1>
<div class="form-row">
  <div class="col-md-4">
    {{form_weidget}}
  </div>
  <div class="col-md-8"></div>
</div>
{% endblock %}
